{% extends 'index.html'%}
{% block title%}
    Masters Gaming Academy
{% endblock%}

{% block content %}
  <div class="container">
    <h1 align="center">Masters Gaming Academy</h1>
  </div>

  <section class="hero">
    <div class="container">
      <div class="home-title">
        <h2>Welcome to Masters Gaming Academy</h2>
        <p>About this page and summary or target for the customer</p>
      </div>
      <div class="list-game">
        <h2>List of gaming courses</h2>

        <div class="container">
          <ul class="home_img">
            <li>Tower Of Fantasy</li>
          </ul>
          <div class="image">
            <img src="static/toweroffantasy.jpg" alt="ToF" width="350" height="200">
          </div>
          <div class="text">
            <p>Courses target on what could be learnt by taking this course</p>
          </div>
          <ul class="home_img">
            <li>Genshin Impact</li>
          </ul>
          <div class="image">
            <img src="static/genshin-impact.jpg" alt="GI" width="350" height="200">
          </div>
          <div class="text">
            <p>Courses target on what could be learnt by taking this course</p>
          </div>
          <ul class="home_img">
            <li>Valorant</li>
          </ul>
          <div class="image">
            <img src="static/VALORANT.jpg" alt="V" width="350" height="200">
          </div>
          <div class="text">
            <p>Courses target on what could be learnt by taking this course</p>
          </div>
          <ul class="home_img">
            <li>Apex legend</li>
          </ul>
          <div class="image">
            <img src="static/apex-legends.jpg" alt="AL" width="350" height="200">
          </div>
          <div class="text">
            <p>Courses target on what could be learnt by taking this course</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
