<style>
    .modal-content {
      background-color: #212121
    }
  </style>
  
  <!-- More Info -->
  <div class="modal fade" id="Modal-MoreInfo-{{ classes.id }}" 
       tabindex="-1"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">
            <!-- -->
            <p>List of Students</p>
          </h5>
          <button type="button" class="close"
                  data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% for students in classes.students: %}
            {{ students.name }}
            <br>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">Close
          </button>
        </div>
      </div>
    </div>
  </div>
